.profile-background{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-background-pic{
    width: 100%;
    height: 400px;
    margin-bottom: 90px;
    background-color: black;
    background-image: url('../img/backgroundImg.jpg');
}
.background-pic{
    background-color: white;
}
.profile-img-support{
    width: 100%;
    display: flex;
    align-items: end;
    height: calc(100% + 90px);
    z-index: 10;
}
.profile-img-div{
    width: 230px;
    height: 230px;
    border-radius: 100%;
    border: 2px solid white;
    margin-left: 20px;
    background-color: rgba(8, 12, 12, );
}
.profile-img{
    border: none;
    border-radius: 100%;
    width: 230px;
    height: 230px;
}
.profile-information{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.h3-fieldtitle{
    color: rgb(119, 115, 115);
    text-decoration: underline;
}
.ul-info{
    margin: 25px;
    margin-left:0px;
    margin-top: 0px;
    list-style: none;
}
.h2-fieldtext{
    display: inline-block;
    margin: 0px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(155, 153, 153,0.5);
    overflow-wrap: break-word;
}
.information-div{
    width: 784px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border-radius: 10px;
}
.ul-bio{
    width: calc(100% - 40px);
    margin: 0px;
    margin-right: 55px;
    list-style: none;

}
.p-fieldtext{
    text-justify: distribute;
    padding: 10px ;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(155, 153, 153,0.5);
}