.backdiv {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 10px;
}

.ul-nav {
    margin: 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(13, 73, 13);
    list-style: none;
    padding-left: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(238, 243, 235);
    top: 0;
    box-shadow: 0px 0px 10px 2px #888888;
}

.li-nav .li-a {
    display: block;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 25px;
    font-weight: 520;
    margin: 0px;
    float: left;
    font-family: kufam;
    transition: color 0.3s, transform 0.3s;
}

.li-a:hover {
    cursor: pointer;
    transform: scale(1.00);
}
.li-a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #f0a500;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}


.li-a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.title {
    font-size: 30px;
    padding-bottom: 7px;
    padding-top: 8px;
    font-weight: 500;
    width: 15%;
    font-family: kufam;
    display: flex;
    justify-content: center;
    color: #f0a500;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}
.active {
    color: #f0a500;
}
.user1 {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: grey;
    margin-right: 20px;
    margin-left: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.profile-pic:hover {
    cursor: pointer;
    background-color: #f0a500;
}
.signup-button {
    background-color: #f0a500;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 550;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-button:hover {
    background-color: #333;
    color: #f0a500;
}